@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');


body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

/* Navbar Section Start */

.navbar {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180.00deg, rgb(14, 14, 14),
    rgb(28, 28, 29) 100%);

}

.logo {
font-size: 36px;
font-weight: 800;
color: rgb(230, 83, 60);
}

.nav-options {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);;
    gap: 30px;
    
}

.nav-options-title {

    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    
    }
    
    .nav-options-title button {
        width: 90px;
        height: 35px;
        font-size: 18px;
        font-weight: 600;
        border-radius:46px ;
        padding: 8px 20px 8px 20px;
        color: rgb(255, 255, 255);
        background-color: rgb(230, 83, 60);
        align-items: center;
        border: none;
        
    }
    

.nav-options i {
    color: white;
    font-size: 25px;
    display: none;
    flex-wrap: 800;
}

/* Banner Section Start */

.banner-section {
    margin-top: 20px;
    min-height: 500px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.banner-left-side {
    margin-top: 30px;
    width: 400px;
    align-items: self-start;
}

.banner-heading {
    color: white;
    font-size: 60px;
    line-height: 62px;
}

.banner-heading span {
    color: white;
    font-size: 100px;
    font-weight: 400;
    font-family: 'Miama', sans-serif;
}

.banner-description {
    margin-top: 50px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.join-btn {
    margin-top: 30px;
    width: 170px;
    height: 35px;
    background-color: rgb(230, 83, 60);
    font-size: 15px;
    color: white;
    font-weight: 700;
    padding: 5px 10px 5px 10px ;
    border-radius: 50px;
    border: none;
}

.download-btn {
    margin-top: 30px;
    width: 170px;
    height: 35px;
    background-color: black;
    font-size: 15px;
    color: white;
    font-weight: 700;
    padding: 5px 10px 5px 10px ;
    border-radius: 50px;
    border: 1px solid white;
    margin-left: 0.5rem;
}



/* Banner Right Side Design Start */


.container {
    position: relative;
    width: 320px;
    margin-left: 80px;
    
}

.container img {
    width: 100%;
    display: block;
    height: 500px;    
}

.text-overlay {
    position: absolute;
    
}

.overlay-top-right {

    top: 150px;
    left: 150px;
}

.overlay-bottom-left {
    bottom: 50px;
    left: 0px;
    
}

.text-overlay {
    width: 200px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}




.round {
    
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 30px;
    margin-left: 8px;

}

.badge1 {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(57, 57, 57);
    padding: 4px 30px 15px 4px;
    border-radius: 15px;
    
   
}

.badge1 .top-part {
    font-size: 23px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
    
}

.badge1 .bottom-part {
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.65);
}


.badge2 {
    width: 80%;
    height: 90%;
    display: flex;
    background-color: rgb(57, 57, 57, 0.5);
    padding: 10px 10px 30px 5px ;
    border-radius: 5px;
    color: #ffffff;

    
}

.badge2-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.65);
}

.badge2 .top-part {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1px;
    text-align: left;
    color: #FFFFFF;
    
}

.badge2 .bottom-part {
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Change Your Habit Section */

.gim-benifit {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gim-benifit-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gim-benifit-text-heading {
    font-size: 48px;
    font-weight: 800px;
    color: #ffffff;
    margin-bottom: 1px;
}

.gim-benifit-text-description {
    font-size: 14px;
    font-weight: 500px;
    color: rgba(255, 255, 255, 0.5);
    width: 620px;
    text-align: center;
}

/* Round Photo Section */

.gim-benifit-images {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.gim-benifit-images-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    
}

.gim-benifit-images img {
    border-radius: 50%;
    margin-top: 30px;

}

.img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.gim-benifit-images-heading {
    color: #ffffff;
    font-weight: 600px;
    font-size: 1.25rem;
    line-height: 1.3rem;
    
}

.gim-benifit-images-description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.750rem;
    width: 80%;
    
}


/* Run An Extra Mile Section */

.run {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.run-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #222222;
    border-radius: 30px;
    padding: 1rem 2rem 1rem 2rem ;
    
}

.run-section-left-side {
    width: 50%;
    
}

.run-section-right-side {
    width: 50%;
}


.run-section-heading {
    color: #ffffff;
    font-size: 2.8rem;
    line-height: 2.9rem;

    font-weight: 700;


}


.run-section-left-side button {
    
    width: 50%;
    height: 3.5rem;
    background-color: #E6533C;
    color:#ffffff;
    border-radius: 2rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
}

.run-section-description {
    color:  rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}


.run-section-right-side img {
    width: 85%;
    height: 100%;
    object-fit: none;
    object-position: 70% 30%;
    border-radius: 2rem;
    margin-left: 5.3rem;

}


/* BMI Heading Section */

.bmi {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bmi-calculator {
    width: 55%;
    text-align: left;
}

.bmi-calculator .bmi-calculator-heading {
    margin-top: 2rem;
    font-size: 2.8rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}

.bmi-calculator .bmi-calculator-description {
    font-size: 1rem;
    color:  rgba(255, 255, 255, 0.5);
    margin-bottom: 4rem;
}

/* Main Calculaator Part */

.calculator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);

}

.main-calculator {
   
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
    
}

.cal-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(34, 34, 34);
    color: #ffffff;
    
}


table {
   
    width: 50%;
    border-collapse: collapse;
    
}

table, th, td {
    border: 1px solid #ffffff;
}

th, td {
    padding: 10px;
    text-align: left;
    
}

td {
    color: rgba(255, 255, 255, 0.5);
}




.cal-right-side {
    width: 50%;
    background-color: rgb(34, 34, 34);
}





.calculation-part {
    width: 80%;
    background-color: #222222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px  rgb(34, 34, 34);
    text-align: center;
    margin-top: 3rem;
    
}

.calculation-part h1 {
    margin: 0;
    font-size: 1.7rem;
    color: white;
    font-weight: 700;
    text-align: left;
}

.calculation-part p {
    font-size: 0.8rem;
    margin-bottom: 20px;
    color: rgb(159, 144, 144);
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    
}


.first-row {
    display: flex;
    gap: 1rem;
}

.second-row {
    display: flex;
    gap: 1rem;
}

.first-row  input {

    background-color: #444;
    border: 1px solid #555;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 50%;
}

.second-row  input {
    background-color: #444;
    border: 1px solid #555;
    border-radius: 5px;
    color:  #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 45.4%;
}

.second-row select {
    background-color: #444;
    border: 1px solid #555;
    border-radius: 5px;
    color:  #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 50%;
}


.third-row select {
    background-color: #444;
    border: 1px solid #555;
    border-radius: 5px;
    color:  #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
}

.fourth-row {
    display: contents;
    justify-content: center;
    align-items: start;
}

.fourth-row button {
    background-color: #ff4a3c;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 40%;
    margin-top: 1rem;
    align-items: start;
}


/* Our Team Section Start */

.our-team {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.meet-our-team {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meet-our-team  .meet-our-team-heading {
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 1px;
    font-weight: 700;
}

.meet-our-team  .meet-our-team-description {
    text-align: center;
    font-size: 0.9rem;
    color: rgb(159, 144, 144);
    margin-bottom: 3rem;
}




.meet-our-team-photo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-photo {
    width: 85.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    border-radius: 20px;
 
}

.team-photo .first-row {
    margin-top: 1rem;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    

}

.team-photo .first-row img {
    width: 360px;
    height: 300px;
    border-radius: 30px;
   
}

.team-photo .second-row img {
    width: 360px;
    height: 290px;
    border-radius: 30px;
   
}

.team-photo .second-row {
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
} 



.first-row-p1 {
    position: relative;
    
}


.first-row-p1 .row-content {
    position: absolute;
    color: #FFFFFF;
    top: 200px;
    left: 25px;
}

.first-row-p1 .row-content h1 {
    font-size: 25px;
    margin-bottom: 5px;
}


.first-row-p1 .row-content p {
    
    font-size: 14px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
}


.first-row-p2 {
    position: relative;
    
}


.first-row-p2 .row-content {
    position: absolute;
    color: #FFFFFF;
    top: 200px;
    left: 25px;
}

.first-row-p2 .row-content h1 {
    font-size: 25px;
    margin-bottom: 5px;
}


.first-row-p2 .row-content p {
    
    font-size: 14px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
}


.first-row-p3 {
    position: relative;
    
}


.first-row-p3 .row-content {
    position: absolute;
    color: #FFFFFF;
    top: 200px;
    left: 25px;
}

.first-row-p3 .row-content h1 {
    font-size: 25px;
    margin-bottom: 5px;
}


.first-row-p3 .row-content p {
    
    font-size: 14px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
}




.second-row-p4 {
    position: relative;
    
}


.second-row-p4 .row-content {
    position: absolute;
    color: #FFFFFF;
    top: 200px;
    left: 25px;
}

.second-row-p4 .row-content h1 {
    font-size: 25px;
    margin-bottom: 5px;
}


.second-row-p4 .row-content p {
    
    font-size: 14px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.second-row-p5 {
    position: relative;
    
}

.second-row-p5 .row-content {
    position: absolute;
    color: #FFFFFF;
    top: 200px;
    left: 25px;
}

.second-row-p5 .row-content h1 {
    font-size: 25px;
    margin-bottom: 5px;
}


.second-row-p5 .row-content p {
    
    font-size: 14px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.second-row-p6 {
    position: relative;
    
}


.second-row-p6 .row-content {
    position: absolute;
    color: #FFFFFF;
    top: 200px;
    left: 25px;
}

.second-row-p6 .row-content h1 {
    font-size: 25px;
    margin-bottom: 5px;
}


.second-row-p6 .row-content p {
    
    font-size: 14px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
}



/*My Uniqe Section*/

.class-schedule {
    padding: 20px;
    background-color: #191919;
    max-width: 90%;
    margin: 50px auto;
    border-radius: 20px 20px 20px 20px;
   
}

.class-schedule h2 {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.schedule-table {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.day {
    flex: 1;
    margin: 10px;
    padding: 15px;
    background-color: rgba(220, 210, 210, 0.09);
    border-radius: 20px 20px 20px 20px;
    
}

.day h3 {
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.day ul {
    list-style-type: none;
    padding: 0;
}

.day ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    
   
}

.day ul li:last-child {
    border-bottom: none;
}



/* Footer Section Start*/


.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    margin-top: 3rem;
}

.footer-section {
    width: 88%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.first-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: #191919;
    
    
    
}

.first-column h1 {
    margin-top: 5px;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 4px;
    color: #E6533C;
}

.first-column p {
    
    font-size: 0.9rem;
    
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    width: 75%;
}



.second-column {
    width: 25%;
    
}

.second-column h2 {
    color: #FFFFFF;
}

.second-column p {
    color: rgba(255, 255, 255, 0.5);
}

.third-column {
    width: 25%;
}

.third-column h2 {
    color: #FFFFFF;
}

.third-column p {
    color: rgba(255, 255, 255, 0.5);
}

.footer-part {
    background-color: #191919;
}










/* Responsive Web Design Start From Here */




@media (max-width:576px) {

    /* Navbar Section */
    
        .navbar {
            width: 100%;
            margin-top: 3rem;
        }
        .navbar .logo {
            font-size: 3rem;
            margin-left: 1rem;
        }
    
    
        .nav-options {
            border: none;
        }
        .nav-options-title {
            display: none;
        }
    
        .nav-options i {
            color: white;
            font-size: 2.3rem;
            display: block;
            margin-right: auto;
        }
            
    
        /* Banner Section */
    
    
        .banner-section{
        
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 2.8rem;
            margin-left: 2rem;
            
        }
    
        .banner-left-side {
            width: 90%;
        }
    
        .banner-left-side .banner-heading {
            font-size: 3.5rem;
            line-height: 3.5rem;
            margin-top: 0px;
        
        }
    
        .banner-left-side .banner-heading span {
            font-size: 8rem;
        }
    
        .banner-left-side .banner-description {
            margin-top: 0px;
            font-size: 1.5rem;
        }
    
        .banner-left-side .join-btn {
            margin-top: 1rem;
            width: 10rem;
            height: 4rem;
            font-size: 1.2rem;
            font-weight: 700;
        }
    
        .banner-left-side .download-btn {
            margin-top: 1rem;
            width: 10rem;
            height: 4rem;
            margin-left: 0.8rem;
            font-size: 1.2rem;
            font-weight: 700;
        }
    
    /* Banner Image Part */
    
        .container {
            width: 90%;
      
        }
    
        .banner-section .container {
            margin-top: 3rem;
            margin-left: 0px;
        }
    
       
    
        .gim-benifit-text-heading {
            width: 90%;
            margin-top: 3rem;
            font-size: 2.5rem;
            font-weight: 500px;
            color: #ffffff;
            margin-bottom: 1px;
            text-align: center;
        }
    
        .overlay-top-right {
    
            top: 90px;
            left: 230px;
        }
        .overlay-bottom-left {
    
            top: 250px;
            right: 230px;
        }
    
    
    
    
        .gim-benifit-text-description {
            font-size: 1rem;
            font-weight: 300px;
            color: rgba(255, 255, 255, 0.5);
            width: 350px;
            text-align: center;
            margin-bottom: 20px;
            
        
        }
    
    
        .gim-benifit-text-heading {
            font-size: 2rem;
        }
    
        .gim-benifit-images {
            width: 100%;
        }
    
        .gim-benifit-images-content {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .gim-benifit-images-heading {
            color: #ffffff;
            font-weight: 600px;
            font-size: 1.7rem;
            line-height: 1.8rem;
            
        }
        
        .gim-benifit-images-description {
            color:  rgba(255, 255, 255, 0.5);
            font-weight: 300;
            font-size: 1.2rem;
            line-height: 1.5rem;
            width: 80%;
            
        }
       
    
    /* Run Section Start */
    
        .run {
            
            margin-top: 3rem;
            width: 100%;
            background-color: black;
        }
    
        .run-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            
        }
    
        .run-section-left-side {
            width: 90%;
        
            
        }
        
        .run-section-left-side .run-section-heading {
            margin-top: 1rem;
            font-size: 50px;
            
            
        }
    
        .run-section-left-side .run-section-description {
            font-size: 1.3rem;
            margin-top: 10px;
            
        }
    
        .run-section-left-side  button {
        
            width: 90%;
            height: 70px;
            font-size: 2rem;
        }
    
    
        .run-section-right-side {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 70px;
            
            
        }
    
    
        .run-section-right-side img {
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 100%;
            object-fit: cover;
            border-radius: 1rem;
            margin-right: 3rem;
                
    }
    
    
    /*  .bmi-calculator-heading .bmi-calculator-description  */
    
    .bmi {
        width: 100%;
        
        }
    
    .bmi-calculator {
        width: 90%;
        
    }
    
    
    .main-calculator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .team-photo .first-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .team-photo .second-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .main-calculator {
       
    }
    
    
    
    .cal-left-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      
    }
    
    .cal-left-side h2 {
        text-align: left;
        width: 340px;
    }
    
    .cal-left-side table {
        width: 340px;
    }
    
    
    .cal-right-side {
        width: 105%;
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    
        
    }
    
    
    .calculation-part h1 {
        text-align: left;
        width: 340px;
    }
    
    /* Our Team Section */
    
    .our-team {
        width: 100%;
        
    }
    
    .meet-our-team {
        width: 70%;
        
    }
    
    
    .team-photo  {
        width: 70%;
    }
    
    .first-row-p1 {
        display: none;
        order: 6;
    }
    
    .second-row-p4 {
        display: none;
        order: 4;
    }
    
    
    
    
    .second-row-p5 {
        order: 0;
    }
    
    .first-row-p3 {
        order: 2;
    }
    
    
    
    
    .footer {
        width: 100%;
        
    }
    
    .footer-section {
        display: flex;
        flex-direction: column;
        width: 70%;
        
    }
    
    /* First Column Start */
    .footer-section  .first-column {
        margin-right: 15%;
        width: 95%;
        margin-top: 2rem;
    }
    
    .footer-section  .first-column h1 {
        font-size: 3.5rem;
    }
    
    .footer-section  .first-column p {
        font-size: 1.1rem;
        width: 100%;
    }
    
    
    /* Second Column Start */
    
    .footer-section  .second-column {
        margin-right: 50%;
        width: 60%;
    }
    
    .footer-section  .second-column h2 {
        font-size: 1.9rem;
    }
    
    .footer-section  .second-column p {
        font: size 1.1rem; ;
    }
    
    /* Third Column Start */
    .footer-section  .third-column {
        margin-right: 50%;
        width: 60%;
    }
    
    .footer-section  .third-column h2 {
        font-size: 1.9rem;
    }
    
    .footer-section  .third-column p {
        font: size 1.1rem; ;
    }
    
    
    .copyrite-section p {
        text-align: left;
        color: #ff4a3c;
        width: 67%;
        font-size: 1rem;
        margin-left: 2px;
    }
    
    
    }
    
    
    
    
    
    @media (max-width:425px) {
    
        .banner-left-side .join-btn {
            margin-top: 1rem;
            width: 10.8rem;
            height: 4rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
    
        .banner-left-side .download-btn {
            margin-top: 1rem;
            width: 10.8rem;
            height: 4rem;
            margin-left: 0.8rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
    
    
      .copyrite-section p {
        margin-left: 2rem;
      }
    
    
      .overlay-top-right {
    
        top: 90px;
        left: 180px;
    }
    
    }


